{% extends "layout.html" %}
{% block content %}
    
  <div >
    {% for detail in worldDetails %}
    <div class="col-md-10 px-0">    
      <h2 class="display-4 font-italic">
       Coronavirus in the world 
      </h2>
      <p class="lead my-6">
       Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
      </p>
    </div> 
    <div class="row"> 
      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h4 
            class="my-0 font-weight-small"> Total Cases 
          </h4> </center>
        </div>
        <div class="card-body">
          <center> <h3 class="card-title pricing-card-title"> {{detail[1]}} </h3> </center>
        </div>  
      </div>

      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h5 class="my-0 font-weight-small"> 
           Total recoreded 
          </h4> </center>
        </div>
        <div class="card-body">
           <center> <h3 class="card-title pricing-card-title"> {{detail[5]}} </h3> </center>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h4 class="my-0 font-weight-small"> 
          Total Deaths 
          </h4> </center>
        </div>
        <div class="card-body">
          <center> <h3 class="card-title pricing-card-title"> {{detail[3]}} </h3> </center>
        </div>
      </div>
    </div>
    {% endfor %}

  </br>
  
    <div >    
      <h2 class="display-4 font-italic">
       Coronavirus in Morrocoo 
      </h2>
    </div> 

    <div class="row"> 
      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h4 
            class="my-0 font-weight-small"> Total Cases 
          </h4> </center>
        </div>
        <div class="card-body">
          <center> <h3 class="card-title pricing-card-title"> 4125 </h3> </center>
        </div>  
      </div>

      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h4 class="my-0 font-weight-small"> 
           Total recoreded 
          </h4> </center>
        </div>
        <div class="card-body">
           <center> <h3 class="card-title pricing-card-title"> 251 </h3> </center>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card-header"> 
          <center> <h4 class="my-0 font-weight-small"> 
          Total Deaths 
          </h4> </center>
        </div>
        <div class="card-body">
          <center> <h3 class="card-title pricing-card-title"> 254 </h3> </center>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}