{% extends "layout.html" %}
{% block content %}
   	
 <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"> <h6> Service </h6> </th>
      <th scope="col"> <h6> N°service </h6> </th>
      <th scope="col"> <h6> Details </h6></th>
    </tr>
  </thead>
  <tbody>
  	{% for serv in servs %}
    <tr>
      <td> {{serv[1]}} </td>
      <td> {{serv[2]}} </td>
      <td> {{serv[3]}} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    
{% endblock content %}